/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    color: yellow;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

/* Skills */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Projects */
.project {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
